
<div class="text-center">
    <h1 class="display-4">I am Fabio André Ochoa Díaz</h1>
    <h4>No vayas al lado oscuro</h4>
    <img id="foto" 
    src="~/images/Wudy.jpeg" alt="Pinguino">
</div>

<div class="text-center">
    <img id="imagen-net" src="~/images/cielito.jpeg" alt="cielo">
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida" />
        <h1>Bienvenido a mi portafolio de servicios de valor agregado</h1>
        <p>
            Soy ex Gerente de proyectos, Certificado Scrum Master, especialista en Desarrollo de Software y analista
            Con experiencia de 10 años en Desarrollo de aplicaciones Moviles, DBA por tres años en mi barrio
        </p>
    </div>
</div>